body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  padding: 0 1rem;
}

nav ul a {
  color: dimgrey;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.container {
  padding-bottom: 10px;
  width: 85%;
}

.brand-logo {
  font-size: 1rem;
}

.content {
  min-height: calc(100vh - 56px - 41px);
  padding: 1.5rem 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
}

.card-content {
  flex-grow: 1;
}

/* Чтобы image размещалась в пределах окна на мобилке */
img {
  width: 50%;
  max-width: 100%;
}

/* img:hover {
  width: 80%;
  transition: 1s;
} */

iframe {
  width: 600px;
  height: 350px;
  max-width: 100%;
}

.description {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.description > img {
  width: 40%;
  height: 40%;
  margin-top: 50px;
  margin-right: 30px;
}

.info {
  /* background-color: mintcream; */
  /* padding: 0px 20px; */
  margin-right: 10px;
  border-radius: 10px;
}

.btn {
  margin-top: 10px;
}

.search-bar {
  display: flex;
  justify-content: right;
}

.search-btn {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
}

#search {
  color: #009688;
  font-size: 1.5rem;
  font-weight: 600;
}
